				<ul data-v-366bf07a class="stlg-gNav_list">
					<? Object.keys(tree).forEach(function (k, v) { ?>
					<li data-v-366bf07a class="stlg-gNav_item">
						<div data-v-366bf07a class="stlg-gNav_head">
							<a data-v-366bf07a href="<?if( sectionNum != tree[k].id.split('.')[0]){ ?>section-<?= group ?>.html<? } ?>#anc<?= list[tree[k].id].referenceURI ?>" class="stlg-gNav_name"><?= list[tree[k].id].referenceNumber ?>：<?= list[tree[k].id].header ?></a>
							<? if(tree[k].children) { ?><a data-v-366bf07a href="javascript: void(0);" class="stlg-gNav_toggle"></a><? } ?>
						</div>
						<? if(tree[k].children) { ?><?- include('./gNav.ejs', {tree: tree[k].children, group: group}) ?><? } ?>
					</li>
					<? }); ?>
				</ul>