// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';


/*
カスタムダイアログ

autoCloseがfalseの場合は自前で$$$.dialog.close()する必要あり
$$$.dialog.open({
	title: '<h1 class="headLine1">title</h1>',
	txt: '<p class="tCenter">aaaaaaa</p>',
	btns: [{
		name: 'ok',
		class: 'btn btn-blue',
		autoClose: true,
		action: function(){
			alert('ok');
			$$$.dialog.close();
		},
		callback: function(){
			alert('after ok')
		},
	},
	{
		name: 'cancel',
		action: function(){
			alert('cancel')
		},
		callback: function(){
			alert('after cancel')
		},
	}]
})
$$$.loading.open({
	txt: '<p class="tCenter">loading</p>',
})
setTimeout(function(){
	$$$.loading.close(function(){
		alert('cb')
	});
}, 3000)

Markup:
<p><a href="javascript: void(0);" class="dialogOpen">open</a></p>
<div class="customDialog" data-anim="customDialog">
	<div class="customDialog_overlay"></div>
	<div class="customDialog_inner">
		<p class="customDialog_txt">ダイアログの内容</p>
		<ul class="customDialog_btns">
			<li class="customDialog_btn customDialog_btn-cancel"><a href="javascript: void(0);">キャンセル</a></li>
			<li class="customDialog_btn customDialog_btn-ok"><a href="javascript: void(0);">OK</a></li>
		</ul>
	</div>
</div>
<script>
$(function() {
	$(document).on('click', '.dialogOpen', function(){
		$$$.dialog.open({
			title: '<h1 class="headLine1">title</h1>',
			txt: '<p class="tCenter">aaaaaaa</p>',
			btns: [{
				name: 'ok',
				class: 'btn btn-blue',
				action: function(){
					alert('ok')
				},
				callback: function(){
					alert('after ok')
				},
			},
			{
				name: 'cancel',
				action: function(){
					alert('cancel')
				},
				callback: function(){
					alert('after cancel')
				},
			}]
		})
	})
});
</script>

Styleguide #{$guideNum}
============================================================*/
.customDialog {
	$this: &;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;
	display: none;
	transition: .4s opacity;
	cursor: default;

	&_overlay {
		display: block;
		background: $overlayBg;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&_inner {
		position: fixed;
		top: 50%;
		left: 50%;
		// transform: translate(-50%, -50%);
		background: #fff;
		padding: 20px;
		border: 1px solid $gray-border;
		box-shadow: 0 0 5px rgba(#000, .3);
		min-width: 400px;
		max-width: 80%;
		max-height: 80%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transition: top .4s;
		& > :first-child {
			margin-top: 0;
		}
	}
	&_title {
	}
	&_txt {
		margin: 20px 0 0;
		& > :first-child {
			margin-top: 0;
		}
	}
	&_btns {
		display: flex;
		justify-content: center;
		margin: 20px 10px 0;
	}
	&_btnItem {
		margin: 0 10px;
		min-width: 200px;
	}
	&_btn {
		display: block;
		text-align: center;
		text-decoration: none;
		color: inherit;
		border: 1px solid $gray-border;
		padding: 5px 10px;
	}

	/*
	----------------------------------------------------------------------*/
	&-enter-active {
		display: block;
	}
	&-enter {
		opacity: 0;
		&:hover {
			opacity: 0;
		}
		#{$this}_inner {
			top: 55%;
		}
	}
	&-enter-to {
		opacity: 1;
		&:hover {
			opacity: 1;
		}
		#{$this}_inner {
			top: 50%;
		}
	}

	&-leave-active {
		display: block;
	}
	&-leave {
		opacity: 1;
		&:hover {
			opacity: 1;
		}
		#{$this}_inner {
			top: 50%;
		}
	}
	&-leave-to {
		opacity: 0;
		&:hover {
			opacity: 0;
		}
		#{$this}_inner {
			top: 40%;
		}
	}
}
@keyframes customDialog-isOpen {
	0% {
		opacity: 0;
		z-index: 1000;
	}
	100% {
		opacity: 1;
		z-index: 1000;
	}
}
@keyframes customDialog-isClose {
	0% {
		opacity: 1;
		z-index: 1000;
	}
	99% {
		z-index: 1000;
	}
	100% {
		opacity: 0;
		z-index: -9999;
	}
}

@media screen and (max-width: $breakpoint-sp){
	.customDialog {
		$this: &;
		&_overlay {
		}
		&_inner {
			max-width: 100%;
			min-width: 80%;
			padding: 20px 10px;
		}
		&_txt {
		}
		&_btns {
			display: block;
			margin: 20px 0 0;
			& > :first-child {
				margin-top: 0;
			}
		}
		&_btnItem {
			margin: 15px 0 0;
			width: auto;
		}
		&_btn {
			&-cancel {
			}
			&-ok {
			}
		}
	}

}
