// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';

// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';

/*
sticky

data-sticky

Markup:
{$modifiers}

.btn-red - red

Styleguide #{$guideNum}
============================================================*/
[data-sticky-container] {
	position: relative;
}
[data-sticky-placeholder] {
	& > :first-child {
		margin-top: 0;
	}
}
[data-sticky] {
	& > :first-child {
		margin-top: 0;
	}
}
[data-sticky="sticky-top"],
[data-sticky="sticky-bottom"] {
	position: fixed;
}
[data-sticky="lock-bottom"] {
	position: absolute;
}

@media screen and (max-width: $breakpoint-sp){

}