// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';


/*
タブ

tab
$$$.tab.init.call($('[data-tab]'));
$$$.tab.init.call($('.tab'), {
	beforeInit: function(){
		console.log('before init');
	},
	afterInit: function(){
		console.log('after init');
	},
	beforeChange: function(){
		console.log('before change');
	},
	afterChange: function(){
		console.log('after change');
	},
	btns: '.tab_btn',
	contents: '.tab_content',
});

Markup:
<div data-tab data-tab-root="1">
	<a href="javascript: void(0);" data-tab-btn>default1</a>
	<a href="javascript: void(0);" data-tab-btn>default2</a>
	<div data-tab-content>
		<p>default1default1default1default1default1</p>
	</div>
	<div data-tab-content>
		<p>default2default2default2default2default2</p>
	</div>
</div>
<hr>
<div class="tab">
	<a href="javascript: void(0);" class="tab_btn">advanced1</a>
	<a href="javascript: void(0);" class="tab_btn">advanced2</a>
	<div class="tab_content">
		<p>advanced1advanced1advanced1advanced1advanced1advanced1advanced1advanced1advanced1advanced1advanced1advanced1advanced1</p>
	</div>
	<div class="tab_content">
		<p>advanced2advanced2advanced2advanced2advanced2advanced2advanced2advanced2advanced2advanced2advanced2advanced2</p>
	</div>
</div>
<hr>
<div class="tab" data-tab-root="b">
	<a href="javascript: void(0);" class="tab_btn" data-tab-btn="a">advancedA</a>
	<a href="javascript: void(0);" class="tab_btn" data-tab-btn="b">advancedB</a>
	<div class="tab_content" data-tab-content="a">
		<p>advancedA</p>
	</div>
	<div class="tab_content" data-tab-content="b">
		<p>advancedB</p>
	</div>
</div>
<script>
$jq(function() {
	$$$.tab.init.call($('.tab'), {
		beforeInit: function(){
			console.log('before init');
		},
		afterInit: function(){
			console.log('after init');
		},
		beforeChange: function(){
			console.log('before change');
		},
		afterChange: function(){
			console.log('after change');
		},
		btns: '.tab_btn',
		contents: '.tab_content',
	});
});
</script>

data-tab
data-tab-item
data-tab-item-active
data-tab-content
data-tab-content-active

Styleguide #{$guideNum}
============================================================*/
[data-tab] {}
[data-tab-btn] {}
[data-tab-btn-active] {}
[data-tab-content] {
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity .4s;
}
[data-tab-content-active] {
	height: auto;
	opacity: 1;
}


@media screen and (max-width: $breakpoint-sp){

}