// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';


/*
tree

<div data-tree>
	<div data-tree-list>
		<div data-tree-item>
			<div>
				<a href="">第一階層</a>
				<a href="javascript: void(0);" data-tree-toggle>★</a>
			</div><!-- /.tree_itemHead -->
			<div data-tree-list>
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
			</div><!-- /.tree_list -->
		</div><!-- /.tree_item -->
		<div data-tree-item>
			<div>
				<a href="">第一階層</a>
				<a href="javascript: void(0);" data-tree-toggle>★</a>
			</div><!-- /.tree_itemHead -->
			<div data-tree-list>
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
			</div><!-- /.tree_list -->
		</div><!-- /.tree_item -->
		<div data-tree-item>
			<div>
				<a href="">第一階層</a>
				<a href="javascript: void(0);" data-tree-toggle>★</a>
			</div><!-- /.tree_itemHead -->
			<div data-tree-list>
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
			</div><!-- /.tree_list -->
		</div><!-- /.tree_item -->
		<div data-tree-item>
			<div>
				<a href="">第一階層</a>
				<a href="javascript: void(0);" data-tree-toggle>★</a>
			</div><!-- /.tree_itemHead -->
			<div data-tree-list>
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
				<div data-tree-item>
					<div>
						<a href="">第二階層</a>
						<a href="javascript: void(0);" data-tree-toggle>★</a>
					</div><!-- /.tree_itemHead -->
					<div data-tree-list>
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
						<div data-tree-item>
							<div>
								<a href="">第三階層</a>
							</div><!-- /.tree_itemHead -->
						</div><!-- /.tree_item -->
					</div><!-- /.tree_list -->
				</div><!-- /.tree_item -->
			</div><!-- /.tree_list -->
		</div><!-- /.tree_item -->
	</div><!-- /.tree_list -->
</div><!-- /.tree -->

Styleguide #{$guideNum}
============================================================*/
[data-tree-item] [data-tree-list] {
	overflow: hidden;
	transition: max-height .4s;
	max-height: 0;
}
[data-tree-item] [data-tree-list="open"] {
}
@media screen and (max-width: $breakpoint-sp){

}