// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';

/*
form

フォーム

Markup:
<div class="form">
	<table class="form_table">
		<colgroup>
			<col style="width: 320px;">
			<col style="">
		</colgroup>
		<tbody>
			<tr>
				<th class="form_must">input 横並び</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-1-12pc form_col-12-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-2-12pc form_col-11-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-3-12pc form_col-10-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-4-12pc form_col-9-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-5-12pc form_col-8-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-6-12pc form_col-7-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-7-12pc form_col-6-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-8-12pc form_col-5-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-9-12pc form_col-4-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-10-12pc form_col-3-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-11-12pc form_col-2-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-12-12pc form_col-1-12sp"><input type="text" name=""></div>
					</div><!-- /.form_grid -->
					<p class="form_note">あいうえおあいうえおあいうえおあいうえお</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">input 縦並び</th>
				<td>
					<div class="form_grid form_grid-v">
						<div class="form_col form_col-1-12pc form_col-12-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-2-12pc form_col-11-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-3-12pc form_col-10-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-4-12pc form_col-9-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-5-12pc form_col-8-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-6-12pc form_col-7-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-7-12pc form_col-6-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-8-12pc form_col-5-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-9-12pc form_col-4-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-10-12pc form_col-3-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-11-12pc form_col-2-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-12-12pc form_col-1-12sp"><input type="text" name=""></div>
					</div><!-- /.form_grid -->
				</td>
			</tr>
			<tr>
				<th class="form_must">textarea</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-12-12pc form_col-12-12sp"><textarea name=""></textarea></div>
					</div><!-- /.form_grid -->
					<p class="form_note">あいうえおあいうえおあいうえおあいうえお</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">ラジオ 横並び</th>
				<td>
					<div class="form_grid">
						<div class="form_col"><label class="customInput"><input type="radio" name="radioA" data-disabled-target><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="radio" name="radioA" data-disabled-target><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="radio" name="radioA" data-disabled-target><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col">
							<label class="customInput">
								<input type="radio" name="radioA" data-disabled-target="radioAOther">
								<span class="customInput_inner customInput_inner-vam">
									その他
									<span class="form_otherInput"><input type="text" name="" data-disabled="radioAOther" disabled></span>
								</span>
							</label>
						</div>
					</div><!-- /.form_grid -->
					<p class="form_note">あいうえおあいうえおあいうえおあいうえお</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">ラジオ 縦並び</th>
				<td>
					<div class="form_grid form_grid-v">
						<div class="form_col"><label class="customInput"><input type="radio" name="radioB" data-disabled-target><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="radio" name="radioB" data-disabled-target><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="radio" name="radioB" data-disabled-target><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="radio" name="radioB" data-disabled-target><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col">
							<label class="customInput">
								<input type="radio" name="radioB" data-disabled-target="radioBOther">
								<span class="customInput_inner customInput_inner-vam">
									その他
									<span class="form_otherInput"><input type="text" name="" data-disabled="radioBOther" disabled></span>
								</span>
							</label>
						</div>
					</div><!-- /.form_grid -->
					<p class="form_note">あいうえおあいうえおあいうえおあいうえお</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">チェック 横並び</th>
				<td>
					<div class="form_grid">
						<div class="form_col"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col">
							<label class="customInput">
								<input type="checkbox" name="" data-disabled-target="checkAOther">
								<span class="customInput_inner customInput_inner-vam">
									その他
									<span class="form_otherInput"><input type="text" name="" data-disabled="checkAOther" disabled></span>
								</span>
							</label>
						</div>
					</div><!-- /.form_grid -->
					<p class="form_note">あいうえおあいうえおあいうえおあいうえお</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">チェック 縦並び</th>
				<td>
					<div class="form_grid form_grid-v">
						<div class="form_col"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col">
							<label class="customInput">
								<input type="checkbox" name="" data-disabled-target="checkBOther">
								<span class="customInput_inner customInput_inner-vam">
									その他
									<span class="form_otherInput"><input type="text" name="" data-disabled="checkBOther" disabled></span>
								</span>
							</label>
						</div>
					</div><!-- /.form_grid -->
					<p class="form_note">あいうえおあいうえおあいうえおあいうえお</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">画像ラジオ横</th>
				<td>
					<div class="form_grid">
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="radio" name="radioC" data-disabled-target><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="radio" name="radioC" data-disabled-target><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="radio" name="radioC" data-disabled-target><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="radio" name="radioC" data-disabled-target><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<label class="customInput">
								<input type="radio" name="radioC" data-disabled-target="radioCOther">
								<span class="customInput_inner customInput_inner-vam">
									その他
									<span class="form_otherInput"><input type="text" name="" data-disabled="radioCOther" disabled></span>
								</span>
							</label>
						</div>
					</div><!-- /.form_grid -->
					<div class="form_note indent10e">※あああああああああああ</div>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">画像ラジオ縦</th>
				<td>
					<div class="form_grid">
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="radio" name="radioD" data-disabled-target><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="radio" name="radioD" data-disabled-target><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="radio" name="radioD" data-disabled-target><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="radio" name="radioD" data-disabled-target><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<label class="customInput">
								<input type="radio" name="radioD" data-disabled-target="radioDOther">
								<span class="customInput_inner customInput_inner-vam">
									その他
									<span class="form_otherInput"><input type="text" name="" data-disabled="radioDOther" disabled></span>
								</span>
							</label>
						</div>
					</div><!-- /.form_grid -->
					<div class="form_note indent10e">※あああああああああああ</div>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">画像チェック横</th>
				<td>
					<div class="form_grid">
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<label class="customInput">
								<input type="checkbox" name="" data-disabled-target="checkCOther">
								<span class="customInput_inner customInput_inner-vam">
									その他
									<span class="form_otherInput"><input type="text" name="" data-disabled="checkCOther" disabled></span>
								</span>
							</label>
						</div>
					</div><!-- /.form_grid -->
					<div class="form_note indent10e">※あああああああああああ</div>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">画像チェック縦</th>
				<td>
					<div class="form_grid">
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<label class="customInput">
								<input type="checkbox" name="" data-disabled-target="checkDOther">
								<span class="customInput_inner customInput_inner-vam">
									その他
									<span class="form_otherInput"><input type="text" name="" data-disabled="checkDOther" disabled></span>
								</span>
							</label>
						</div>
					</div><!-- /.form_grid -->
					<div class="form_note indent10e">※あああああああああああ</div>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">メールアドレス</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-12-12pc form_col-12-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-12-12pc form_col-12-12sp"><input type="text" name="" placeholder="確認のためもう一度入力してください"></div>
					</div><!-- /.form_grid -->
					<div class="form_note indent10e">※あああああああああああ</div>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">郵便番号ハイフン有</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-4-12pc form_col-8-12sp">
							<input type="text" name=""><span>-</span>
							<input type="text" name="">
						</div>
					</div><!-- /.form_grid -->
					<div class="form_note indent10e">※あああああああああああ</div>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">郵便番号ハイフン無</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-4-12pc form_col-8-12sp"><input type="text" name=""></div>
					</div><!-- /.form_grid -->
					<div class="form_note indent10e">※あああああああああああ</div>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">住所 郵便番号無</th>
				<td>
					<div class="form_grid">
						<div class="form_col w70e">都道府県</div>
						<div class="form_col form_col-6-12pc form_col-12-12sp">
							<select name="addr01-01">
								<option value="選択してください">選択してください</option>
								<option value="北海道">北海道</option>
								<option value="青森県">青森県</option>
								<option value="岩手県">岩手県</option>
								<option value="宮城県">宮城県</option>
								<option value="秋田県">秋田県</option>
								<option value="山形県">山形県</option>
								<option value="福島県">福島県</option>
								<option value="茨城県">茨城県</option>
								<option value="栃木県">栃木県</option>
								<option value="群馬県">群馬県</option>
								<option value="埼玉県">埼玉県</option>
								<option value="千葉県">千葉県</option>
								<option value="東京都">東京都</option>
								<option value="神奈川県">神奈川県</option>
								<option value="新潟県">新潟県</option>
								<option value="富山県">富山県</option>
								<option value="石川県">石川県</option>
								<option value="福井県">福井県</option>
								<option value="山梨県">山梨県</option>
								<option value="長野県">長野県</option>
								<option value="岐阜県">岐阜県</option>
								<option value="静岡県">静岡県</option>
								<option value="愛知県">愛知県</option>
								<option value="三重県">三重県</option>
								<option value="滋賀県">滋賀県</option>
								<option value="京都府">京都府</option>
								<option value="大阪府">大阪府</option>
								<option value="兵庫県">兵庫県</option>
								<option value="奈良県">奈良県</option>
								<option value="和歌山県">和歌山県</option>
								<option value="鳥取県">鳥取県</option>
								<option value="島根県">島根県</option>
								<option value="岡山県">岡山県</option>
								<option value="広島県">広島県</option>
								<option value="山口県">山口県</option>
								<option value="徳島県">徳島県</option>
								<option value="香川県">香川県</option>
								<option value="愛媛県">愛媛県</option>
								<option value="高知県">高知県</option>
								<option value="福岡県">福岡県</option>
								<option value="佐賀県">佐賀県</option>
								<option value="長崎県">長崎県</option>
								<option value="熊本県">熊本県</option>
								<option value="大分県">大分県</option>
								<option value="宮崎県">宮崎県</option>
								<option value="鹿児島県">鹿児島県</option>
								<option value="沖縄県">沖縄県</option>
							</select>
						</div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">市区町村</div>
						<div class="form_col form_col-10-12pc form_col-12-12sp"><input type="text" name=""></div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">市区町村以下</div>
						<div class="form_col form_col-10-12pc form_col-12-12sp"><input type="text" name=""></div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">建物名</div>
						<div class="form_col form_col-10-12pc form_col-12-12sp"><input type="text" name=""></div>
					</div><!-- /.form_grid -->
					<p class="form_note indent10e">※あああああああああああ</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">住所 郵便番号1個</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-4-12pc form_col-8-12sp">
							<input type="text" name="zip01" data-ajax-zip="zip01">
						</div>
						<div class="form_col form_col-btn"><a href="javascript: void(0);" onclick="AjaxZip3.zip2addr('zip01', '', 'addr01-01', 'addr01-02' , 'addr01-03')" class="form_btn">検索</a></div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">都道府県</div>
						<div class="form_col form_col-6-12pc form_col-12-12sp">
							<select name="addr01-01" data-ajax-zip="addr01-01">
								<option value="選択してください">選択してください</option>
								<option value="北海道">北海道</option>
								<option value="青森県">青森県</option>
								<option value="岩手県">岩手県</option>
								<option value="宮城県">宮城県</option>
								<option value="秋田県">秋田県</option>
								<option value="山形県">山形県</option>
								<option value="福島県">福島県</option>
								<option value="茨城県">茨城県</option>
								<option value="栃木県">栃木県</option>
								<option value="群馬県">群馬県</option>
								<option value="埼玉県">埼玉県</option>
								<option value="千葉県">千葉県</option>
								<option value="東京都">東京都</option>
								<option value="神奈川県">神奈川県</option>
								<option value="新潟県">新潟県</option>
								<option value="富山県">富山県</option>
								<option value="石川県">石川県</option>
								<option value="福井県">福井県</option>
								<option value="山梨県">山梨県</option>
								<option value="長野県">長野県</option>
								<option value="岐阜県">岐阜県</option>
								<option value="静岡県">静岡県</option>
								<option value="愛知県">愛知県</option>
								<option value="三重県">三重県</option>
								<option value="滋賀県">滋賀県</option>
								<option value="京都府">京都府</option>
								<option value="大阪府">大阪府</option>
								<option value="兵庫県">兵庫県</option>
								<option value="奈良県">奈良県</option>
								<option value="和歌山県">和歌山県</option>
								<option value="鳥取県">鳥取県</option>
								<option value="島根県">島根県</option>
								<option value="岡山県">岡山県</option>
								<option value="広島県">広島県</option>
								<option value="山口県">山口県</option>
								<option value="徳島県">徳島県</option>
								<option value="香川県">香川県</option>
								<option value="愛媛県">愛媛県</option>
								<option value="高知県">高知県</option>
								<option value="福岡県">福岡県</option>
								<option value="佐賀県">佐賀県</option>
								<option value="長崎県">長崎県</option>
								<option value="熊本県">熊本県</option>
								<option value="大分県">大分県</option>
								<option value="宮崎県">宮崎県</option>
								<option value="鹿児島県">鹿児島県</option>
								<option value="沖縄県">沖縄県</option>
							</select>
						</div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">市区町村</div>
						<div class="form_col form_col-10-12pc form_col-12-12sp"><input type="text" name="addr01-02" data-ajax-zip="addr01-02"></div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">市区町村以下</div>
						<div class="form_col form_col-10-12pc form_col-12-12sp"><input type="text" name="addr01-03" data-ajax-zip="addr01-03"></div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">建物名</div>
						<div class="form_col form_col-10-12pc form_col-12-12sp"><input type="text" name=""></div>
					</div><!-- /.form_grid -->
					<p class="form_note indent10e">※あああああああああああ</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">住所 郵便番号2個</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-4-12pc form_col-8-12sp">
							<input type="text" name="zip02-01" data-ajax-zip="zip02-01"><span>-</span>
							<input type="text" name="zip02-02" data-ajax-zip="zip02-02">
						</div>
						<div class="form_col form_col-btn"><a href="javascript: void(0);" onclick="AjaxZip3.zip2addr('zip02-01', 'zip02-02', 'addr02-01', 'addr02-02', 'addr02-03')" class="form_btn">検索</a></div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">都道府県</div>
						<div class="form_col form_col-6-12pc form_col-12-12sp">
							<select name="addr02-01" data-ajax-zip="addr02-01">
								<option value="選択してください">選択してください</option>
								<option value="北海道">北海道</option>
								<option value="青森県">青森県</option>
								<option value="岩手県">岩手県</option>
								<option value="宮城県">宮城県</option>
								<option value="秋田県">秋田県</option>
								<option value="山形県">山形県</option>
								<option value="福島県">福島県</option>
								<option value="茨城県">茨城県</option>
								<option value="栃木県">栃木県</option>
								<option value="群馬県">群馬県</option>
								<option value="埼玉県">埼玉県</option>
								<option value="千葉県">千葉県</option>
								<option value="東京都">東京都</option>
								<option value="神奈川県">神奈川県</option>
								<option value="新潟県">新潟県</option>
								<option value="富山県">富山県</option>
								<option value="石川県">石川県</option>
								<option value="福井県">福井県</option>
								<option value="山梨県">山梨県</option>
								<option value="長野県">長野県</option>
								<option value="岐阜県">岐阜県</option>
								<option value="静岡県">静岡県</option>
								<option value="愛知県">愛知県</option>
								<option value="三重県">三重県</option>
								<option value="滋賀県">滋賀県</option>
								<option value="京都府">京都府</option>
								<option value="大阪府">大阪府</option>
								<option value="兵庫県">兵庫県</option>
								<option value="奈良県">奈良県</option>
								<option value="和歌山県">和歌山県</option>
								<option value="鳥取県">鳥取県</option>
								<option value="島根県">島根県</option>
								<option value="岡山県">岡山県</option>
								<option value="広島県">広島県</option>
								<option value="山口県">山口県</option>
								<option value="徳島県">徳島県</option>
								<option value="香川県">香川県</option>
								<option value="愛媛県">愛媛県</option>
								<option value="高知県">高知県</option>
								<option value="福岡県">福岡県</option>
								<option value="佐賀県">佐賀県</option>
								<option value="長崎県">長崎県</option>
								<option value="熊本県">熊本県</option>
								<option value="大分県">大分県</option>
								<option value="宮崎県">宮崎県</option>
								<option value="鹿児島県">鹿児島県</option>
								<option value="沖縄県">沖縄県</option>
							</select>
						</div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">市区町村</div>
						<div class="form_col form_col-10-12pc form_col-12-12sp"><input type="text" name="addr02-02"  data-ajax-zip="addr02-02"></div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">市区町村以下</div>
						<div class="form_col form_col-10-12pc form_col-12-12sp"><input type="text" name="addr02-03"  data-ajax-zip="addr02-03"></div>
					</div><!-- /.form_grid -->
					<div class="form_grid">
						<div class="form_col w70e">建物名</div>
						<div class="form_col form_col-10-12pc form_col-12-12sp"><input type="text" name=""></div>
					</div><!-- /.form_grid -->
					<p class="form_note indent10e">※あああああああああああ</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">添付ファイル</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-12-12">
							<div class="fileForm" data-option='{
								"src": "/fileup-test.json",
								"method": "GET",
								"maxQty": 3,
								"maxQtyError": "3個以上選択できません",
								"type": ["png", "jpg"],
								"typeError": "png、jpg以外選択できません",
								"maxSize": 2097152,
								"maxSizeError": "2M以上のファイルは選択できません"
							}'>
								<p class="fileForm_btn"><a href="javascript: void(0);" class="btn btn-s btn-gray">ファイルを選択</a></p>
								<p class="fileForm_ddComment">※ドラッグ&amp;ドロップでファイル選択可能です。</p>
								<div class="fileForm_dropArea">
									<p class="fileForm_dropTxt">ここにドラッグ&amp;ドロップ</p>
								</div>
								<ul class="fileForm_list">
									<li class="fileForm_item fileForm_item-template">
										<a href="javascript: void(0);" class="fileForm_del">×</a><a href="" class="fileForm_name">選択されていません</a>
										<div class="fileForm_comment"><input type="text" name=""></div>
										<input type="file" name="file[]">
										<input type="hidden" name="selected[]">
										<input type="hidden" name="original_name[]">
									</li>
								</ul>
							</div><!-- /.fileForm -->
						</div>
					</div><!-- /.form_grid -->
				</td>
			</tr>
			<tr>
				<th class="form_must">説明 + テキスト</th>
				<td>
					<div class="form_grid form_grid-v form_grid-borderDot">
						<div class="form_col"><b>【タイトル】</b></div>
						<div class="form_col">説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明</div>
						<div class="form_col form_col-3-12pc form_col-12-12sp"><input type="text" name=""><span>枚</span></div>
					</div>
					<div class="form_grid form_grid-v form_grid-borderDot">
						<div class="form_col"><b>【タイトル】</b></div>
						<div class="form_col">説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明</div>
						<div class="form_col form_col-3-12pc form_col-12-12sp"><input type="text" name=""><span>枚</span></div>
					</div>
					<div class="form_grid form_grid-v form_grid-borderDot">
						<div class="form_col"><b>【タイトル】</b></div>
						<div class="form_col">説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明</div>
						<div class="form_col form_col-3-12pc form_col-12-12sp"><input type="text" name=""><span>枚</span></div>
					</div>
					<div class="form_grid form_grid-v form_grid-borderDot">
						<div class="form_col"><b>【タイトル】</b></div>
						<div class="form_col">説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明</div>
						<div class="form_col form_col-3-12pc form_col-12-12sp"><input type="text" name=""><span>枚</span></div>
					</div>
					<p class="form_note indent10e">※あああああああああああ</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">プルダウン&その他</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-6-12pc form_col-6-12sp">
							<select name="" data-disabled-target>
								<option value="">ああああああああ</option>
								<option value="">いいいいいいいいいい</option>
								<option value="" data-disabled-target="selectAOther">その他</option>
							</select>
						</div>
						<div class="form_col form_col-6-12pc form_col-6-12sp"><input type="text" name="" disabled="disabled" data-disabled="selectAOther"></div>
					</div><!-- /.form_grid -->
					<p class="form_note indent10e">※あああああああああああ</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">テキストフィールド+プルダウン</th>
				<td>
					<div class="form_grid form_grid-borderDot">
						<div class="form_col form_col-6-12pc form_col-6-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-6-12pc form_col-6-12sp">
							<select name="">
								<option value="">ああああああああ</option>
								<option value="">いいいいいいいいいい</option>
							</select>
						</div>
					</div><!-- /.form_grid -->
					<div class="form_grid form_grid-borderDot">
						<div class="form_col form_col-6-12pc form_col-6-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-6-12pc form_col-6-12sp">
							<select name="">
								<option value="">ああああああああ</option>
								<option value="">いいいいいいいいいい</option>
							</select>
						</div>
					</div><!-- /.form_grid -->
					<div class="form_grid form_grid-borderDot">
						<div class="form_col form_col-6-12pc form_col-6-12sp"><input type="text" name=""></div>
						<div class="form_col form_col-6-12pc form_col-6-12sp">
							<select name="">
								<option value="">ああああああああ</option>
								<option value="">いいいいいいいいいい</option>
							</select>
						</div>
					</div><!-- /.form_grid -->
					<p class="form_note indent10e">※あああああああああああ</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
		</tbody>
	</table>
</div><!-- /.form -->

Styleguide #{$guideNum}
*/
.form {
	$this: &;
	$gutter-h: 15px;
	$gutter-v: 15px;
	$gutter-hMin: 8px;
	$gutter-vMin: 8px;
	margin: 20px 0 0;
	&_table {
		border-collapse: separate;
		border-spacing: 0;
		border-top: 1px solid $gray-border;
		border-left: 1px solid $gray-border;
		& > thead,
		& > tbody {
			& > tr {
				& > th,
				& > td {
					border-top: none;
					border-left: none;
				}
			}
		}
		th,
		td {
		}
		td {
			& > :first-child {
				margin-top: 0;
			}
			& > #{$this}_grid:first-child {
				margin-top: $gutter-v*-1;
			}
		}
		th {
		}
	}
	&_must {
		&:before {
			content: '必須';
			width: 36px;
			height: 22px;
			margin-right: .5em;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			vertical-align: middle;
			letter-spacing: normal;
			font-weight: normal;
			background: $red;
			font-size: rem(12px, pc);
			color: #fff;
			border-radius: 4px;
		}
	}
	&_grid {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		margin: $gutter-v*-1+$gutter-vMin 0 0 $gutter-h*-1;
		&-v {
			display: block;
			overflow: hidden;
		}
	}
	&_col {
		margin: $gutter-v 0 0 $gutter-h;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		line-height: 1;
		& > :first-child {
			margin-top: 0;
		}
		& > * {
			line-height: normal;
			& + * {
				margin-left: $gutter-hMin;
			}
		}
		& > .customInput {
			// width: 100%;
		}
		@for $i from 1 to 13 {
			&-#{$i}-12 {
				width: calc(100%/12 * #{$i} - #{$gutter-h});
			}
		}
		&-btn {
			align-self: stretch;
		}
	}
	&_note {
		margin: $gutter-vMin 0 0;
		line-height: normal;
	}
	&_error {
		margin: $gutter-vMin 0 0;
		line-height: normal;
		color: $red;
	}

	//  form_btn
	//----------------------------------------------------------------------
	&_btn {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		text-align: center;
		text-decoration: none;
		color: #fff;
		border-radius: 4px;
		background: $gray;
		padding: 0 20px;
	}

	//  form_otherInput
	//----------------------------------------------------------------------
	&_otherInput {
		flex-grow: 1;
		flex-shrink: 1;
		text-indent: 0;
		margin-left: $gutter-hMin;
	}

	// form _imgCheck
	//----------------------------------------------------------------------
	&_imgCheck {
		& > :first-child {
			margin-top: 0;
		}
	}
	&_imgCheckName {
		margin: 5px 0 0;
	}
	&_imgCheckInner {
		margin: 5px 0 0;
		display: flex;
		display: -webkit-flex;
	}
	&_imgCheckSide {
		flex-grow: 0;
		flex-shrink: 0;
		max-width: 150px;
		& > :first-child {
			margin-top: 0;
		}
	}
	&_imgCheckImg {
		margin: 0;
	}
	&_imgCheckBody {
		margin: 0 0 0 $gutter-hMin;
		align-self: center;
		& > :first-child {
			margin-top: 0;
		}
	}



	//  外部モジュール調整
	//----------------------------------------------------------------------
	.customInput {
		// line-height: normal;
	}
}

@media screen and (min-width: $breakpoint-sp + 1){
	.form {
		$this: &;
		$gutter-h: 15px;
		$gutter-v: 15px;
		$gutter-hMin: 8px;
		$gutter-vMin: 8px;
		&_col {
			@for $i from 1 to 13 {
				&-#{$i}-12pc {
					width: calc(100%/12 * #{$i} - #{$gutter-h});
				}
			}
		}
	}
}

@media screen and (max-width: $breakpoint-sp){
	.form {
		$this: &;
		$gutter-h: 10px;
		$gutter-v: 10px;
		$gutter-hMin: 8px;
		$gutter-vMin: 8px;
		&_table {
			display: block;
			border: none;
			& > thead,
			& > tbody {
				display: block;
				& > :first-child {
					margin-top: 0;
				}
				& > tr {
					& > :first-child {
						margin-top: 0;
					}
					display: block;
					margin: 20px 0 0;
					& > th,
					& > td {
						display: block;
						border: none;
						padding: 0;
					}
					& > th {
						margin: 20px 0 0;
						padding: 5px;
					}
					& > td {
						margin: 10px 0 0;
						& > :first-child {
							margin-top: 0;
						}
						& > #{$this}_grid:first-child {
							margin-top: $gutter-v*-1;
						}
					}
				}
			}
		}
		&_must {
		}
		&_grid {
			margin: $gutter-v*-1+$gutter-vMin 0 0 $gutter-h*-1;
		}
		&_col {
			margin: $gutter-v 0 0 $gutter-h;
			@for $i from 1 to 13 {
				&-#{$i}-12sp {
					width: calc(100%/12 * #{$i} - #{$gutter-h});
				}
			}
		}
		&_note {
			margin: $gutter-vMin 0 0;
		}
		&_error {
			margin: $gutter-vMin 0 0;
		}
	}
}