// @import '../_config';
// @import '../_iconFontMixin';
// @import '../_svgSpriteMixin';
// @import '../_plugins/_magic';

/*
ボタンレイアウト

btns

Markup:
<div class="btns {$modifiers}">
	<ul class="btns_list">
		<li class="btns_btn btns_btn-4-12pc btns_btn-6-12sp"><a href="" class="btn">PC: 4/12　SP: 6/12</a></li>
		<li class="btns_btn btns_btn-4-12pc btns_btn-6-12sp"><a href="" class="btn">PC: 4/12　SP: 6/12</a></li>
		<li class="btns_btn btns_btn-4-12pc btns_btn-12-12sp"><a href="" class="btn">PC: 4/12　SP: 12/12</a></li>
	</ul>
</div><!-- /.btns -->

.btns-left - 左寄せ
.btns-right - 右寄せ
.btns-hr - 横並び
.btns-hr.btns-left - 横並び&左寄せ
.btns-hr.btns-right - 横並び&右寄せ

Styleguide #{$guideNum}
============================================================*/
.btns {
	$this: &;
	margin: 20px 0 0;
	&_list {
		& > :first-child {
			margin-top: 0;
		}
	}
	&_btn {
		margin: 20px auto 0;
		@for $i from 1 through 12 {
			&-#{$i}-12 {
				width: calc(99.9%/12 * #{$i});
			}
		}
	}
	&-left {
		#{$this}_btn {
			margin-left: 0;
		}
	}
	&-right {
		#{$this}_btn {
			margin-right: 0;
		}
	}

	&-hr {
		& > :first-child {
		}
		#{$this}_list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: -20px 0 0 -20px;
		}
		#{$this}_btn {
			margin: 20px 0 0 20px;
			@for $i from 1 through 12 {
				&-#{$i}-12 {
					width: calc(99.9%/12 * #{$i} - 20px);
				}
			}
		}
	}
	&-hr.btns-left {
		#{$this}_list {
			justify-content: flex-start;
		}
	}
	&-hr.btns-right {
		#{$this}_list {
			justify-content: flex-end;
		}
	}
	&-hr.btns-spaceBetween {
		#{$this}_list {
			justify-content: space-between;
		}
	}
}

@media screen and (min-width: $breakpoint-sp + 1){
	.btns {
		$this: &;
		&_btn {
		}
		&-hr {
			#{$this}_btn {
				@for $i from 1 through 12 {
					&-#{$i}-12pc {
						width: calc(99.9%/12 * #{$i} - 20px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $breakpoint-sp){
	.btns {
		$this: &;
		&_list {}
		&-hr {
			#{$this}_list {
				margin: -10px 0 0 -10px;
			}
			#{$this}_btn {
				margin: 10px 0 0 10px;
				@for $i from 1 through 12 {
					&-#{$i}-12sp {
						width: calc(99.9%/12 * #{$i} - 10px);
					}
				}
			}
		}
		&_btn {
		}
	}
}