// @import '../_config';
// @import '../_iconFontMixin';
// @import '../_svgSpriteMixin';
// @import '../_plugins/_magic';

/*
ボタン

btn

Markup:
<div class="btns btns-hr">
	<ul class="btns_list">
		<li class="btns_btn btns_btn-m"><a href="" class="btn {$modifiers}">ボタン</a></li>
		<li class="btns_btn btns_btn-m"><button class="btn {$modifiers}">ボタン</button></li>
	</ul>
</div><!-- /.btns -->

.btn-red - $red
.btn-redLight - $redLight
.btn-blue - $blue
.btn-blueLight - $blueLight
.btn-gray - $gray
.btn-grayLight - $grayLight
.btn-gray-border - $gray-border

Styleguide #{$guideNum}
============================================================*/
.btn {
	$this: &;
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: inherit;

}
@media screen and (min-width: $breakpoint-sp +1){
	.btn {
		&:hover {
		}
	}
}

@media screen and (max-width: $breakpoint-sp){
	.btn {
		$this: &;
	}
}
