// @import '../_config';
// @import '../_iconFontMixin';
// @import '../_svgSpriteMixin';
// @import '../_plugins/_magic';

/*
フォントサイズ

.font

Markup:
<p class="{$modifiers}">フォントサイズ</p>

.font-lll - lll
.font-ll - ll
.font-l - l
.font-s - s
.font-ss - ss
.font-sss - sss

Styleguide #{$guideNum}
============================================================*/
.font {
	&-lll {
		font-size: rem(map-get($font-size, 'pc') + 6, pc);
	}
	&-ll {
		font-size: rem(map-get($font-size, 'pc') + 4, pc);
	}
	&-l {
		font-size: rem(map-get($font-size, 'pc') + 2, pc);
	}
	&-s {
		font-size: rem(map-get($font-size, 'pc') - 2, pc);
	}
	&-ss {
		font-size: rem(map-get($font-size, 'pc') - 3, pc);
	}
	&-sss {
		font-size: rem(map-get($font-size, 'pc') - 4, pc);
	}
}
@media screen and (max-width: $breakpoint-sp){
	.font {
		&-lll {
			font-size: rem(map-get($font-size, 'sp') + 6, sp);
		}
		&-ll {
			font-size: rem(map-get($font-size, 'sp') + 4, sp);
		}
		&-l {
			font-size: rem(map-get($font-size, 'sp') + 2, sp);
		}
		&-s {
			font-size: rem(map-get($font-size, 'sp') - 2, sp);
		}
		&-ss {
			font-size: rem(map-get($font-size, 'sp') - 3, sp);
		}
		&-sss {
			font-size: rem(map-get($font-size, 'sp') - 4, sp);
		}
	}
}