// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';


/*
見出し3

headLine3

Markup:
<h3 class="headLine3">見出し3</h3>

Styleguide #{$guideNum}
============================================================*/
.headLine3 {
	$this: &;
}

@media screen and (max-width: $breakpoint-sp){
	.headLine3 {
		$this: &;
	}
}
