// @import '../_config';
// @import '../_sprite';
// @import '../_sprite_mixin';
// @import '../_iconsMixin';
// @import '../_plugins/_magic';

/*
ブロックになるテーブル

responsiveTable

Markup:
<table class="responsiveTable">
	<tbody>
		<tr>
			<th>あああああああああ</th>
			<td>いいいいいいいいいいいいいいいいいいいいいいいいいいい</td>
		</tr>
		<tr>
			<th>あああああああああ</th>
			<td>いいいいいいいいいいいいいいいいいいいいいいいいいいい</td>
		</tr>
		<tr>
			<th>あああああああああ</th>
			<td>いいいいいいいいいいいいいいいいいいいいいいいいいいい</td>
		</tr>
		<tr>
			<th>あああああああああ</th>
			<td>いいいいいいいいいいいいいいいいいいいいいいいいいいい</td>
		</tr>
	</tbody>
</table>

Styleguide #{$guideNum}
============================================================*/
@media screen and (max-width: $breakpoint-sp){
	.responsiveTable {
		display: block;
		& > tbody {
			display: block;
			border: none;
			padding: 0;
			& > :first-child {
				margin-top: 0;
			}
			& > tr {
				display: block;
				border: none;
				padding: 0;
				& > th,
				& > td {
					display: block;
					border: none;
					padding: 0;
				}
			}
			& > tr {
				& > th {
				}
				& > td {
				}
			}
		}
	}
}
