// @import '../_config';
// @import '../_iconFontMixin';
// @import '../_svgSpriteMixin';
// @import '../_plugins/_magic';

/*
フォーム

form

Markup:
<div class="form">
	<table class="form_table">
		<colgroup>
			<col style="width: 280px;">
			<col style="">
		</colgroup>
		<tbody>
			<tr>
				<th class="form_must">テキスト横</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-1-12pc form_col-12-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-2-12pc form_col-11-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-3-12pc form_col-10-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-4-12pc form_col-9-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-5-12pc form_col-8-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-6-12pc form_col-7-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-7-12pc form_col-6-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-8-12pc form_col-5-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-9-12pc form_col-4-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-10-12pc form_col-3-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-11-12pc form_col-2-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-12-12pc form_col-1-12sp"><input type="text" name="" id=""></div>
					</div>
					<p class="form_note">あいうえおあいうえおあいうえおあいうえお</p>
					<p class="form_error">エラーエラーエラーエラーエラー</p>
				</td>
			</tr>
			<tr>
				<th class="form_must">テキスト縦</th>
				<td>
					<div class="form_grid form_grid-v">
						<div class="form_col form_col-1-12pc form_col-12-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-2-12pc form_col-11-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-3-12pc form_col-10-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-4-12pc form_col-9-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-5-12pc form_col-8-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-6-12pc form_col-7-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-7-12pc form_col-6-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-8-12pc form_col-5-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-9-12pc form_col-4-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-10-12pc form_col-3-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-11-12pc form_col-2-12sp"><input type="text" name="" id=""></div>
						<div class="form_col form_col-12-12pc form_col-1-12sp"><input type="text" name="" id=""></div>
					</div>
				</td>
			</tr>
			<tr>
				<th class="form_must">名前</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-3-12pc form_col-6-12sp"><span>姓</span><input type="text" name="" id=""></div>
						<div class="form_col form_col-3-12pc form_col-6-12sp"><span>名</span><input type="text" name="" id=""></div>
					</div>
				</td>
			</tr>
			<tr>
				<th class="form_must">電話番号</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-6-12pc form_col-12-12sp">
							<input type="text" name="" id=""><span>-</span>
							<input type="text" name="" id=""><span>-</span>
							<input type="text" name="" id="">
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th class="form_must">郵便番号</th>
				<td>
					<div class="form_grid">
						<div class="form_col form_col-4-12pc form_col-8-12sp">
							<input type="text" name="" id=""><span>-</span>
							<input type="text" name="" id="">
						</div>
						<div class="form_col form_col-btn"><a href="" class="btn">検索</a></div>
					</div>
				</td>
			</tr>
			<tr>
				<th class="form_must">チェック横</th>
				<td>
					<div class="form_grid">
						<div class="form_col"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col">
							<label class="customInput">
								<input type="checkbox" name="" id="">
								<span class="customInput_inner">
									その他
									<span class="form_otherInput"><input type="text" name="" id=""></span>
								</span>
							</label>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th class="form_must">チェック縦</th>
				<td>
					<div class="form_grid form_grid-v">
						<div class="form_col"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></div>
						<div class="form_col">
							<label class="customInput">
								<input type="checkbox" name="" id="">
								<span class="customInput_inner">
									その他
									<span class="form_otherInput"><input type="text" name="" id=""></span>
								</span>
							</label>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th class="form_must">画像チェック横</th>
				<td>
					<div class="form_grid">
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th class="form_must">画像チェック縦</th>
				<td>
					<div class="form_grid">
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="form_col">
							<div class="form_imgCheck">
								<p class="form_imgCheckName"><label class="customInput"><input type="checkbox" name="" id=""><span class="customInput_inner">ああああああ</span></label></p>
								<div class="form_imgCheckInner">
									<div class="form_imgCheckSide">
										<figure class="form_imgCheckImg"><img src="http://satyr.io/300x300/dddddd?text=This+is+Dummy+Image!!!&texture=cross" alt="ダミーイメージ"></figure>
									</div>
									<div class="form_imgCheckBody">
										<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div><!-- /.form -->

Styleguide #{$guideNum}
============================================================*/
.form {
	$this: &;
	$gutter-h: 15px;
	$gutter-v: 15px;
	$gutter-hMin: 8px;
	$gutter-vMin: 8px;
	margin: 20px 0 0;
	&_table {
		border-collapse: separate;
		border-spacing: 0;
		border-top: 1px solid $gray-border;
		border-left: 1px solid $gray-border;
		& > thead,
		& > tbody {
			& > tr {
				& > th,
				& > td {
					border-top: none;
					border-left: none;
				}
			}
		}
		th,
		td {
		}
		td {
			& > :first-child {
				margin-top: $gutter-v*-1;
			}
		}
		th {

		}
	}
	&_must {
		position: relative;
		padding-right: 60px;
		&:after {
			content: '必須';
			display: block;
			font-weight: normal;
			background: #a00;
			font-size: rem(11px, pc);
			color: #fff;
			border-radius: 2px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			line-height: 1;
			padding: 6px 5px 4px;
		}
	}
	&_grid {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		margin: $gutter-v*-1 0 0 $gutter-h*-1;
		&-v {
			display: block;
			overflow: hidden;
		}
	}
	&_col {
		margin: $gutter-v 0 0 $gutter-h;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		line-height: 1;
		& > :first-child {
			margin-top: 0;
		}
		& > * {
			line-height: normal;
			& + * {
				margin-left: $gutter-hMin;
			}
		}
		@for $i from 1 to 13 {
			&-#{$i}-12 {
				width: calc(100%/12 * #{$i} - #{$gutter-h});
			}
		}
		&-btn {
			align-self: stretch;
		}
	}
	&_note {
		margin: $gutter-vMin 0 0;
		line-height: normal;
	}
	&_error {
		margin: $gutter-vMin 0 0;
		line-height: normal;
		color: #a00;
	}

	/*  form_btn
	----------------------------------------------------------------------*/
	&_btn {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		text-align: center;
		text-decoration: none;
		color: #fff;
		border-radius: 4px;
		background: $gray;
		padding: 0 20px;
	}

	/*  form_otherInput
	----------------------------------------------------------------------*/
	&_otherInput {
		text-indent: 0;
		display: inline-block;
		vertical-align: middle;
		letter-spacing: normal;
		margin-left: $gutter-hMin;
	}

	/* form _imgCheck
	----------------------------------------------------------------------*/
	&_imgCheck {
		& > :first-child {
			margin-top: 0;
		}
	}
	&_imgCheckName {
		margin: 5px 0 0;
	}
	&_imgCheckInner {
		margin: 5px 0 0;
		display: flex;
		display: -webkit-flex;
	}
	&_imgCheckSide {
		flex-grow: 0;
		flex-shrink: 0;
		max-width: 150px;
		& > :first-child {
			margin-top: 0;
		}
	}
	&_imgCheckImg {
		margin: 0;
	}
	&_imgCheckBody {
		margin: 0 0 0 $gutter-hMin;
		align-self: center;
		& > :first-child {
			margin-top: 0;
		}
	}



	/*  外部モジュール調整
	----------------------------------------------------------------------*/
	.customInput {
		// line-height: normal;
	}
}

@media screen and (min-width: $breakpoint-sp + 1){
	.form {
		$this: &;
		$gutter-h: 15px;
		$gutter-v: 15px;
		$gutter-hMin: 8px;
		$gutter-vMin: 8px;
		&_col {
			@for $i from 1 to 13 {
				&-#{$i}-12pc {
					width: calc(100%/12 * #{$i} - #{$gutter-h});
				}
			}
		}
	}
}

@media screen and (max-width: $breakpoint-sp){
	.form {
		$this: &;
		$gutter-h: 10px;
		$gutter-v: 10px;
		$gutter-hMin: 8px;
		$gutter-vMin: 8px;
		&_table {
			display: block;
			border: none;
			& > thead,
			& > tbody {
				display: block;
				& > :first-child {
					margin-top: 0;
				}
				& > tr {
					& > :first-child {
						margin-top: 0;
					}
					display: block;
					margin: 20px 0 0;
					& > th,
					& > td {
						display: block;
						border: none;
						padding: 0;
					}
					& > th {
						margin: 20px 0 0;
						padding: 5px;
					}
					& > td {
						margin: 10px 0 0;
						& > :first-child {
							margin-top: $gutter-v*-1;
						}
					}
				}
			}
		}
		&_must {
		}
		&_grid {
			margin: $gutter-v*-1 0 0 $gutter-h*-1;
		}
		&_col {
			margin: $gutter-v 0 0 $gutter-h;
			@for $i from 1 to 13 {
				&-#{$i}-12sp {
					width: calc(100%/12 * #{$i} - #{$gutter-h});
				}
			}
		}
		&_note {
			margin: $gutter-vMin 0 0;
		}
		&_error {
			margin: $gutter-vMin 0 0;
		}
	}
}