// @import '../_config';
// @import '../_iconFontMixin';
// @import '../_svgSpriteMixin';
// @import '../_plugins/_magic';

/*
ページャ

pager

Markup:
<nav class="pager">
	<div class="pager_inner">
		<ul class="pager_list">
			<li class="pager_prev"><a href=""><span>前の10件</span></a></li>
			<li class="pager_dot">…</li>
			<li class="pager_item"><a href="">1</a></li>
			<li class="pager_item pager_item-active"><a href="">2</a></li>
			<li class="pager_item"><a href="">3</a></li>
			<li class="pager_dot">…</li>
			<li class="pager_next"><a href=""><span>次の10件</span></a></li>
		</ul>
	</div>
</nav><!-- /.pager -->

Styleguide #{$guideNum}
============================================================*/
.pager {
	$this: &;
	margin: 20px 0 0;
	&_inner {
	}
	&_list {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&_prev {
		margin: 0 30px 0 0;
		& > a {
			text-decoration: none;
			color: $txtColor;
			&:before {
				content: '＜';
				margin-right: .5em;
			}
		}
	}
	&_next {
		margin: 0 0 0 30px;
		& > a {
			text-decoration: none;
			color: $txtColor;
			&:after {
				content: '＞';
				margin-left: .5em;
			}
		}
	}
	&_dot {
		margin: 0 10px;
	}
	&_item {
		margin: 0 10px;
		& > a {
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			text-decoration: none;
			color: $txtColor;
			border: 1px solid $txtColor;
		}
		&-active {
			& > a {
				border: none;
				background: $txtColor;
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: $breakpoint-sp){
	.pager {
		$this: &;
		&_inner {
		}
		&_list {
			position: relative;
			padding: 0 40px;
			width: 100%;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			flex-direction: row;
			margin: -10px 0 0;
		}
		&_prev {
			margin: 0;
			position: absolute;
			top: calc(50% + 5px);
			left: 0;
			transform: translateY(-50%);
			& > a {
				display: block;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				margin: 0;
				& > span {
					display: none;
				}
			}
		}
		&_next {
			margin: 0;
			position: absolute;
			top: calc(50% + 5px);
			right: 0;
			transform: translateY(-50%);
			& > a {
				display: block;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				margin: 0;
				& > span {
					display: none;
				}
			}
		}
		&_dot {
			display: none;
		}
		&_item {
			margin: 10px 5px 0;
			& > a {
				width: 30px;
				height: 30px;
				line-height: 30px;
			}
			&-active {
			}
		}
	}

}