/*
パンクズ

pankuzu

Markup:
<nav class="pankuzu">
	<ul class="pankuzu_list">
		<li class="pankuzu_item"><a href="/">トップ</a></li>
		<li class="pankuzu_item">メッセージ</li>
	</ul>
</nav><!-- /.pankuzu -->

Styleguide #{$guideNum}
============================================================*/
.pankuzu {
	$this: &;
	margin: 20px 0 0;
	& > :first-child {
		margin-top: 0;
	}
	&_list {
		margin: 0;
		letter-spacing: -.44em;
		& > :first-child {
			&:before {
				content: none;
			}
		}
	}
	&_item {
		display: inline-block;
		vertical-align: top;
		letter-spacing: normal;
		font-size: rem(12px, pc);
		& > a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		&:before {
			content: '　>　';
		}
	}
}

@media screen and (max-width: $breakpoint-sp){
	.pankuzu {
		$this: &;
		&_list {
		}
		&_item {
			font-size: rem(11px, sp);
		}
	}
}
