// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';


/*
カテゴリツリー

tree

Markup:
<div class="tree">
	<ul class="tree_list">
		<? for (var i = 0; i < 5; i++) { -?>
			<li class="tree_item">
				<div class="tree_itemHead">
					<a href="" class="tree_name">111111111111111111</a>
					<a href="javascript: void(0);"  class="tree_toggle"></a>
				</div>
				<ul class="tree_list">
					<? for (var ii = 0; ii < 5; ii++) { -?>
						<li class="tree_item">
							<div class="tree_itemHead">
								<a href="" class="tree_name">222222222222222222</a>
								<a href="javascript: void(0);" class="tree_toggle"></a>
							</div>
							<ul class="tree_list">
								<? for (var iii = 0; iii < 5; iii++) { -?>
									<li class="tree_item">
										<div class="tree_itemHead">
											<a href="" class="tree_name">33333333333333333333</a>
											<a href="javascript: void(0);" class="tree_toggle"></a>
										</div>
										<ul class="tree_list">
											<? for (var iiii = 0; iiii < 5; iiii++) { -?>
												<li class="tree_item">
													<div class="tree_itemHead">
														<a href="" class="tree_name">444444444444444444444444</a>
													</div>
												</li><!-- /.tree_item -->
											<? } -?>
										</ul><!-- /.tree_list -->
									</li><!-- /.tree_item -->
								<? } -?>
							</ul><!-- /.tree_list -->
						</li><!-- /.tree_item -->
					<? } -?>
				</ul><!-- /.tree_list -->
			</li><!-- /.tree_item -->
		<? } -?>
	</ul><!-- /.tree_list -->
</div><!-- /.tree -->

Styleguide #{$guideNum}
============================================================*/
.tree {
	$this: &;
	margin: 20px 0 0;
	&_list {
		margin: 0;
		& > :first-child {
			border-top: none;
		}
	}
	&_item {
		margin: 0 0 0 1em;
		#{$this}_itemHead {
		}
		&[data-tree-item="open"] {
			& > #{$this}_itemHead {
				& > #{$this}_name {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
	}
	&_itemHead {
		display: flex;
		display: -webkit-flex;
	}
	&_name {
		flex-grow: 1;
		flex-shrink: 1;
		padding-top: 0;
		padding-bottom: 0;
	}
	&_toggle {
		flex-grow: 0;
		flex-shrink: 0;
		width: 30px;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		&:before {
			@include fa('\f107', true);
			line-height: inherit;
		}
		&[data-tree-toggle="open"] {
			&:before {
				@include fa('\f106', true);
			}
		}
	}

	/*
	----------------------------------------------------------------------*/
	& > #{$this}_list {
		& > #{$this}_item {
			margin-left: 0;
			border-top: 1px solid #ccc;
			& > #{$this}_itemHead {
				& > #{$this}_name {
					padding: 10px 0;
				}
			}
		}
		& > :first-child {
			border-top: none;
		}

	}
}