<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><?= siteName ?></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
<?- include('./_include/_html_header') ?>
</head>
<body class="pageID-">
	<div class="wrapper">
<?- include('./_include/_header', {gNav: 0, gNavChild: 0}) ?>

<?- include('./_include/_footer') ?>
	</div><!-- /.wrapper -->
	<a href="javascript: void(0);" class="overlay"></a>
</body>
</html>