$totalWidth: <?= swidth ?>;
$totalHeight: <?= sheight ?>;

<? svg.forEach(function(item){ ?>
$<?= item.name ?>: (
	<?= item.width ?>,
	<?= item.height ?>,
	<?= item.positionX ?>,
	<?= item.positionY ?>
);<? }) ?>

@mixin svgSprite($code, $width: 100) {
	$ratio: $width / nth($code, 1);
	background-image: url(<?= path ?>);
	background-repeat: no-repeat;
	background-size: $totalWidth * $ratio + px $totalHeight * $ratio + px;
	background-position: nth($code, 3) * $ratio + px nth($code, 4) * $ratio + px;
	width: nth($code, 1)*$ratio + px;
	height: nth($code, 2)*$ratio + px;
}