<? var data  =jsonData; ?>
<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<style type="text/css">
	html{-webkit-box-sizing:border-box;box-sizing:border-box;overflow-y:scroll;-webkit-text-size-adjust:100%}*,:before,:after{-webkit-box-sizing:border-box;box-sizing:border-box}:before,:after{text-decoration:inherit;vertical-align:inherit}*{background-repeat:no-repeat;padding:0;margin:0;font-size:100%}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}button,[type=button],[type=reset],[type="submit"] [role="button"]{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:0;padding:0}button:-moz-focusring,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{outline:1px dotted ButtonText}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none;max-width:100%;height:auto}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}html{font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro',Hiragino Kaku Gothic Pro,Verdana,Arial,sans-serif,'ＭＳ Ｐゴシック';font-size:14px;line-height:1.6;color:#333;white-space:normal;text-align:left;height:100%}body{min-height:100%}h1,h2,h3,h4,h5,h6{font-weight:400}img{vertical-align:bottom}hr{margin:20px 0 0;border-top:1px solid #ccc}p,ul,ol,table,dl,figure{margin-top:20px}b,strong{font-weight:700}em{font-style:italic}button{font-family:inherit}[type=text],[type=password],select,textarea{width:100%;font-family:inherit;border:1px solid #ccc}table{width:100%;border-collapse:collapse}th,td{text-align:left;border:1px solid #ccc}th>:first-child,td>:first-child{margin-top:0}ul li{display:block}ul:not([class]),ol{margin-left:2em}ul:not([class]) li,ol li{display:list-item}a,button{outline:none}.pageTree>.pageTree_cate:first-child{margin-left: 30px;}.pageTree>.pageTree_cate:first-child:before{content:none}.pageTree>.pageTree_cate:first-child>:first-child:before{content:none}.pageTree_cate{margin:30px 0 0 calc(30px*4);position:relative}.pageTree_cate:before{content:'';display:block;width:calc(6px);height:calc(100% + 30px);background:#666;position:absolute;top:calc(30px*-2);left:calc(30px*-3)}.pageTree_cate .pageTree_cate>:first-child{margin-left:-60px}.pageTree_cate>:last-child:before{height:calc(64px + 30px)}.pageTree_item>:last-child:before{content:none}.pageTree_item{margin-top:30px;position:relative}.pageTree_item:before{content:'';display:block;width:calc(6px);height:calc(100% + 30px);background:#666;position:absolute;top:calc(30px*-2);left:calc(30px/-1)}.pageTree_item:after{content:'';display:block;width:calc(30px);height:6px;background:#666;position:absolute;top:calc(64px/2 - 6px/2);left:calc(30px/-1)}.pageTree_item>a,.pageTree_item>div{text-decoration:none;color:#fff;padding:10px;min-width:250px;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;z-index:100;border-radius:4px}.pageTree_item>a{background:#00a}.pageTree_item>div{background:#333}.pageTree_name{margin:0}.pageTree_num{margin:0}@media screen and (min-width:737px){a,button{-webkit-transition:opacity .4s;transition:opacity .4s}a:hover,button:hover{opacity:.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"}}@media screen and (max-width:736px){html{font-size:13px}a,button{-webkit-transition:none;transition:none}a:hover,button:hover{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}}
		</style>
</head>
<body>
<? function write(data, childLen){ ?>
	<? data.children.forEach(function(data, i){ ?>
		<? if(data.isFile){ ?>

			<? if(i !== 0 ){ ?>
				</li>
			<? } ?>
				<li class="pageTree_item">
					<a href="/<?- data.relative ?>">
						<div class="pageTree_itemInner">
							<p class="pageTree_name"><?- data.name ?></p>
							<p class="pageTree_num"><?- data.relative ?></p>
						</div>
					</a>
			<? if(i + 1 == childLen ){ ?>
				</li>
			<? } ?>

		<? } else { ?>
			<ul class="pageTree_cate">
				<? write(data, data.children.length) ?>
			</ul>
		<? } ?>
	<? }) ?>
<? } ?>

<div class="pageTree">
	<ul class="pageTree_cate">
	<? write(data) ?>
	</ul>
</div>
</body>
</html>