//  breakpoints
//----------------------------------------------------------------------
$breakpoint-sp: 736px;

//  size
//----------------------------------------------------------------------
$page-width: 1200px;
// $main-width: 960px;
// $side-width: 210px;

$font-size: (
	'pc': 14px,
	'sp': 13px,
) !default;

//  colors
//----------------------------------------------------------------------
$txtColor: #333;

$gray-border: #ccc;
$gray-dot: #ccc;
$gray-bg: #f0f0f0;

$red: #c11227;
$blue: #071985;
$orange: #df6d00;

//  font
//----------------------------------------------------------------------
@mixin fa($code) {
	content: $code;
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//px to rem
@function rem($px, $key: 'pc') {
	$value: map-get($font-size, $key);
	@return ($px / $value) * 1rem;
}
