// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';

/*
色サンプル

styleguideColorList

Colors:
$txtColor: #333
$red: #f00
$blue: #00f
$gray: #888
$black: #222
$test: rgba(250, 250, 250, .5)

Styleguide #{$guideNum}
============================================================*/
.styleguideColorList {
	$this: &;
	margin: 0 0 0 -10px;
	display: flex;
	display: -webkit-flex;
	&_item {
		margin: 10px 0 0 10px;
		width: calc(100%/11 - 10px);
		& > a {
			display: block;
			text-decoration: none;
			text-align: center;
			word-break: break-all;
			text-align: center;
			color: inherit;
			&:before {
				content: '';
				display: block;
				padding-top: 100%;
				background: #000;
			}
			&:after {
				display: none;
				text-align: center;
			}
			& > span {
				display: block;
			}
		}
	}
}
