$totalWidth: <%= relWidth %>;
$totalHeight: <%= relHeight %>;
<% _.forEach(svg, function(svgItem) { %>
	$<%=svgItem.name%>-width: <%= svgItem.width %>;
	$<%=svgItem.name%>-height: <%= svgItem.height %>;
	$<%=svgItem.name%>-offset-x: <%= svgItem.positionX %>;
	$<%=svgItem.name%>-offset-y: <%= svgItem.positionY %>;
	$<%=svgItem.name%>: (
		<%= svgItem.width %>,
		<%= svgItem.height %>,
		<%= svgItem.positionX %>,
		<%= svgItem.positionY %>
	);
<% }); %>

@mixin svgSprite($code, $width: 100) {
	$ratio: $width/nth($code, 1);
	background-image: url("../svg/sprite.png");
	background-image: url("../svg/sprite.svg");
	background-repeat: no-repeat;
	background-size: $totalWidth/nth($code, 1)*100+%;
	background-position: nth($code, 3) / ( nth($code, 1) -  $totalWidth ) * 100+% nth($code, 4) / ( nth($code, 2) -  $totalHeight ) * 100+%;
	width: nth($code, 1)*$ratio + px;
	height: nth($code, 2)*$ratio + px;
}
