@import '_config';
@import '_sprite';
@import '_iconsMixin';

/*
アイコンフォント

自作アイコンフォントのリスト

Styleguide 2.
*/

/*
icons

Markup:
<ul class="styleguideIconList">
	<li class="styleguideIconList_item styleguideIconList_item-circleArrow-down"><a href="javascript: void(0);"><span>$icons-circleArrow-down</span></a></li>
	<li class="styleguideIconList_item styleguideIconList_item-circleArrow-left"><a href="javascript: void(0);"><span>$icons-circleArrow-left</span></a></li>
	<li class="styleguideIconList_item styleguideIconList_item-circleArrow-right"><a href="javascript: void(0);"><span>$icons-circleArrow-right</span></a></li>
	<li class="styleguideIconList_item styleguideIconList_item-circleArrow-up"><a href="javascript: void(0);"><span>$icons-circleArrow-up</span></a></li>
</ul>

Styleguide 2.1
============================================================*/
@font-face {
	font-family: icons;
	src: url(../../../assets/fonts/icons//icons.eot);
	src: url(../../../assets/fonts/icons//icons.eot?#iefix) format("eot"),
	// url(../../../assets/fonts/icons//icons.woff2) format("woff2"),
	url(../../../assets/fonts/icons//icons.woff) format("woff"),
	url(../../../assets/fonts/icons//icons.ttf) format("truetype"),
	url(../../../assets/fonts/icons//icons.svg#icons) format("svg")
}
.styleguideIconList {
	margin: -10px 0 0 -10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	&_item {
		flex-basis: calc(10% - 10px);
		margin: 10px 0 0 10px;
		border: 1px solid #ddd;
		border-radius: 6px;
		display: block;
		& > a {
			display: block;
			width: 100%;
			height: 100%;
			padding: 10px;
			text-align: center;
			text-decoration: none;
			color: inherit;
		}
		span {
			display: block;
			margin: 5px 0 0;
		}
		
		&-circleArrow-down > a{
			&:before {
				@include icons($icons-circleArrow-down);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}
		&-circleArrow-left > a{
			&:before {
				@include icons($icons-circleArrow-left);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}
		&-circleArrow-right > a{
			&:before {
				@include icons($icons-circleArrow-right);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}
		&-circleArrow-up > a{
			&:before {
				@include icons($icons-circleArrow-up);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}
	}
}