$imgTotalWidth: 1536;
$imgTotalHeight: 1536;


$imgSprite-condor: (
	512,
	512,
	0,
	0
);
$imgSprite-llama: (
	512,
	512,
	512,
	512
);
$imgSprite-penguin: (
	512,
	512,
	1024,
	1024
);

@mixin imgSprite($code, $width: nth($code, 1)) {
	$imgRatio: $width / nth($code, 1);
	background-image: url(/assets/images/sprite.png);
	background-repeat: no-repeat;
	background-size: $imgTotalWidth * $imgRatio + px $imgTotalHeight * $imgRatio + px;
	background-position: nth($code, 3) * $imgRatio * -1 + px nth($code, 4) * $imgRatio * -1 + px;
	width: nth($code, 1)*$imgRatio + px;
	height: nth($code, 2)*$imgRatio + px;
}