// @import '../_config';
// @import '../_iconFonts';
// @import '../_svgSprite';
// @import '../_imgSprite';


/*
大枠

.wrapper
.contents
.main
.side
.sectionとか

Styleguide #{$guideNum}
============================================================*/
.wrapper {
	$this: &;
	min-height: 100%;
	background: #fff;
}
@media screen and (max-width: $breakpoint-sp){
	.wrapper {
		$this: &;
	}
}