$totalWidth: <?= meta.width ?>;
$totalHeight: <?= meta.height ?>;

<? images.forEach(function(item){ ?>
$<?= item.name ?>: (
	<?= item.width ?>,
	<?= item.height ?>,
	<?= item.x ?>,
	<?= item.y ?>
);<? }) ?>

@mixin imgSprite($code, $width: nth($code, 1)) {
	$ratio: $width / nth($code, 1);
	background-image: url(<?= meta.path ?>);
	background-repeat: no-repeat;
	background-size: $totalWidth * $ratio + px $totalHeight * $ratio + px;
	background-position: nth($code, 3) * $ratio * -1 + px nth($code, 4) * $ratio * -1 + px;
	width: nth($code, 1)*$ratio + px;
	height: nth($code, 2)*$ratio + px;
}