//  breakpoints
//----------------------------------------------------------------------
$breakpoint-sp: 736px;

//  size
//----------------------------------------------------------------------
$page-width: 1200px;
// $main-width: 960px;
// $side-width: 210px;

$font-size: (
	'pc': 16px,
	'sp': 14px,
) !default;
$lineHeight: 30/16;

//  colors
//----------------------------------------------------------------------

$txtColor: #333;

$overlayBg: rgba(#000, .8);

$red: #f00;
$red-light: lighten($red, 10%);

$blue: #00f;
$blue-light: lighten($blue, 10%);

$gray: #888;
$gray-light: lighten($gray, 10%);
$gray-border: lighten($gray, 10%);

$black: #222;


//  font
//----------------------------------------------------------------------
@mixin fa($code) {
	content: $code;
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//px to rem
@function rem($px, $key: 'pc') {
	$value: map-get($font-size, $key);
	@return ($px / $value) * 1rem;
}
