@font-face {
	font-family: "icons";
	src: url('/assets/fonts/iconfont/icons.eot');
	src: url('/assets/fonts/iconfont/icons.eot?#iefix') format('eot'),
		url('/assets/fonts/iconfont/icons.woff') format('woff'),
		url('/assets/fonts/iconfont/icons.ttf') format('truetype'),
		url('/assets/fonts/iconfont/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}


	$icons-carret-down: "\EA01";
	$icons-carret-left: "\EA02";
	$icons-carret-right: "\EA03";
	$icons-carret-up: "\EA04";
	$icons-circleArrow-down: "\EA05";
	$icons-circleArrow-left: "\EA06";
	$icons-circleArrow-right: "\EA07";
	$icons-circleArrow-up: "\EA08";



//  font
//----------------------------------------------------------------------
@mixin icons($code) {
	content: $code;
	font-family: "icons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
