// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$c4e2bf10-name: 'c4e2bf10';
$c4e2bf10-x: 0px;
$c4e2bf10-y: 0px;
$c4e2bf10-offset-x: 0px;
$c4e2bf10-offset-y: 0px;
$c4e2bf10-width: 364px;
$c4e2bf10-height: 403px;
$c4e2bf10-total-width: 364px;
$c4e2bf10-total-height: 403px;
$c4e2bf10-image: '../images/sprite.png';
$c4e2bf10: (0px, 0px, 0px, 0px, 364px, 403px, 364px, 403px, '../images/sprite.png', 'c4e2bf10', );
$spritesheet-width: 364px;
$spritesheet-height: 403px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($c4e2bf10, );
$spritesheet: (364px, 403px, '../images/sprite.png', $spritesheet-sprites, );


