$totalWidth: 2524;
$totalHeight: 2524;

	$adelivery-truck-width: 512;
	$adelivery-truck-height: 512;
	$adelivery-truck-offset-x: 0;
	$adelivery-truck-offset-y: 0;
	$adelivery-truck: (
		512,
		512,
		0,
		0
	);

	$coffee-width: 500;
	$coffee-height: 500;
	$coffee-offset-x: -512;
	$coffee-offset-y: -512;
	$coffee: (
		500,
		500,
		-512,
		-512
	);

	$coffee-green-width: 500;
	$coffee-green-height: 500;
	$coffee-green-offset-x: -1012;
	$coffee-green-offset-y: -1012;
	$coffee-green: (
		500,
		500,
		-1012,
		-1012
	);

	$coffee-pink-width: 500;
	$coffee-pink-height: 500;
	$coffee-pink-offset-x: -1512;
	$coffee-pink-offset-y: -1512;
	$coffee-pink: (
		500,
		500,
		-1512,
		-1512
	);

	$delivery-truck-width: 512;
	$delivery-truck-height: 512;
	$delivery-truck-offset-x: -2012;
	$delivery-truck-offset-y: -2012;
	$delivery-truck: (
		512,
		512,
		-2012,
		-2012
	);


@mixin svgSprite($code, $width: 100) {
	$ratio: $width/nth($code, 1);
	background-image: url("../svg/sprite.png");
	background-image: url("../svg/sprite.svg");
	background-repeat: no-repeat;
	background-size: $totalWidth/nth($code, 1)*100+%;
	background-position: nth($code, 3) / ( nth($code, 1) -  $totalWidth ) * 100+% nth($code, 4) / ( nth($code, 2) -  $totalHeight ) * 100+%;
	width: nth($code, 1)*$ratio + px;
	height: nth($code, 2)*$ratio + px;
}