$totalWidth: 1000;
$totalHeight: 1000;


$coffee: (
	500,
	500,
	0,
	0
);
$coffee-green: (
	500,
	500,
	-500,
	-500
);

@mixin svgSprite($code, $width: 100) {
	$ratio: $width / nth($code, 1);
	background-image: url(/assets/svg/sprite.svg);
	background-repeat: no-repeat;
	background-size: round($totalWidth * $ratio) + px round($totalHeight * $ratio) + px;
	background-position: round(nth($code, 3) * $ratio) + px round(nth($code, 4) * $ratio) + px;
	width: round(nth($code, 1)*$ratio) + px;
	height: round(nth($code, 2)*$ratio) + px;
}