@import '_config';
@import '_iconFonts';

@font-face {
	font-family: "icons";
	src: url('/assets/fonts/iconfont/icons.eot');
	src: url('/assets/fonts/iconfont/icons.eot?#iefix') format('eot'),
		url('/assets/fonts/iconfont/icons.woff') format('woff'),
		url('/assets/fonts/iconfont/icons.ttf') format('truetype'),
		url('/assets/fonts/iconfont/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
アイコン

アイコンフォントとsvgスプライト

Styleguide 2.
*/

/*
icon font

@include icons(アイコン名変数);

Markup:
<ul class="stlg-guideIcons">	<li class="stlg-guideIcons_item stlg-guideIcons_item-carret-down"><a href="javascript: void(0);"><span>$icons-carret-down</span></a></li>
	<li class="stlg-guideIcons_item stlg-guideIcons_item-carret-left"><a href="javascript: void(0);"><span>$icons-carret-left</span></a></li>
	<li class="stlg-guideIcons_item stlg-guideIcons_item-carret-right"><a href="javascript: void(0);"><span>$icons-carret-right</span></a></li>
	<li class="stlg-guideIcons_item stlg-guideIcons_item-carret-up"><a href="javascript: void(0);"><span>$icons-carret-up</span></a></li>
	<li class="stlg-guideIcons_item stlg-guideIcons_item-circleArrow-down"><a href="javascript: void(0);"><span>$icons-circleArrow-down</span></a></li>
	<li class="stlg-guideIcons_item stlg-guideIcons_item-circleArrow-left"><a href="javascript: void(0);"><span>$icons-circleArrow-left</span></a></li>
	<li class="stlg-guideIcons_item stlg-guideIcons_item-circleArrow-right"><a href="javascript: void(0);"><span>$icons-circleArrow-right</span></a></li>
	<li class="stlg-guideIcons_item stlg-guideIcons_item-circleArrow-up"><a href="javascript: void(0);"><span>$icons-circleArrow-up</span></a></li>
</ul>

Styleguide 2.1
============================================================*/
.stlg-guideIcons {
	margin: -10px 0 0 -10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	&_item {
		flex-basis: calc(10% - 10px);
		margin: 10px 0 0 10px;
		border: 1px solid #ddd;
		border-radius: 6px;
		display: block;
		& > a {
			display: block;
			width: 100%;
			height: 100%;
			padding: 10px;
			text-align: center;
			text-decoration: none;
			color: inherit;
		}
		span {
			display: block;
			margin: 5px 0 0;
		}

				&-carret-down > a{
			&:before {
				@include icons($icons-carret-down);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}		&-carret-left > a{
			&:before {
				@include icons($icons-carret-left);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}		&-carret-right > a{
			&:before {
				@include icons($icons-carret-right);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}		&-carret-up > a{
			&:before {
				@include icons($icons-carret-up);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}		&-circleArrow-down > a{
			&:before {
				@include icons($icons-circleArrow-down);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}		&-circleArrow-left > a{
			&:before {
				@include icons($icons-circleArrow-left);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}		&-circleArrow-right > a{
			&:before {
				@include icons($icons-circleArrow-right);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}		&-circleArrow-up > a{
			&:before {
				@include icons($icons-circleArrow-up);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: normal;
			}
		}	}
}
