@import './_config';
@import './_svgSprite';

/*
svgスプライト

@include svgSprite(アイコン名変数);

Markup:
<ul class="stlg-SpriteList">
	<li class="stlg-SpriteList_item stlg-SpriteList_item-coffee"><a href="javascript: void(0);"><span>$coffee</span></a></li>	<li class="stlg-SpriteList_item stlg-SpriteList_item-coffee-green"><a href="javascript: void(0);"><span>$coffee-green</span></a></li>
</ul>

Styleguide 2.2
============================================================*/
.stlg-SpriteList {
	margin: -10px 0 0 -10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	&_item {
		flex-basis: calc(10% - 10px);
		margin: 10px 0 0 10px;
		border: 1px solid #ddd;
		border-radius: 6px;
		display: block;
		& > a {
			display: block;
			width: 100%;
			height: 100%;
			padding: 10px;
			text-align: center;
			text-decoration: none;
			color: inherit;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				letter-spacing: normal;
			}
		}
		span {
			display: block;
			margin: 5px 0 0;
		}

		
		&-coffee {
			& > a {
				&:before {
					@include svgSprite($coffee);
				}
			}
		}
		
		&-coffee-green {
			& > a {
				&:before {
					@include svgSprite($coffee-green);
				}
			}
		}
		
	}
}