@import './_config';

/*
svgスプライト

説明

Markup:
<ul class="styleguideSpriteList">
	<li class="styleguideSpriteList_item styleguideSpriteList_item-adelivery-truck"><a href="javascript: void(0);"><span>$adelivery-truck</span></a></li>	<li class="styleguideSpriteList_item styleguideSpriteList_item-coffee"><a href="javascript: void(0);"><span>$coffee</span></a></li>	<li class="styleguideSpriteList_item styleguideSpriteList_item-coffee-green"><a href="javascript: void(0);"><span>$coffee-green</span></a></li>	<li class="styleguideSpriteList_item styleguideSpriteList_item-coffee-pink"><a href="javascript: void(0);"><span>$coffee-pink</span></a></li>	<li class="styleguideSpriteList_item styleguideSpriteList_item-delivery-truck"><a href="javascript: void(0);"><span>$delivery-truck</span></a></li>
</ul>

@include svgSprite(アイコン名変数);

Styleguide 2.2
============================================================*/
$totalWidth: 2524;
$totalHeight: 2524;

	$adelivery-truck-width: 512;
	$adelivery-truck-height: 512;
	$adelivery-truck-offset-x: 0;
	$adelivery-truck-offset-y: 0;
	$adelivery-truck: (
		512,
		512,
		0,
		0
	);

	$coffee-width: 500;
	$coffee-height: 500;
	$coffee-offset-x: -512;
	$coffee-offset-y: -512;
	$coffee: (
		500,
		500,
		-512,
		-512
	);

	$coffee-green-width: 500;
	$coffee-green-height: 500;
	$coffee-green-offset-x: -1012;
	$coffee-green-offset-y: -1012;
	$coffee-green: (
		500,
		500,
		-1012,
		-1012
	);

	$coffee-pink-width: 500;
	$coffee-pink-height: 500;
	$coffee-pink-offset-x: -1512;
	$coffee-pink-offset-y: -1512;
	$coffee-pink: (
		500,
		500,
		-1512,
		-1512
	);

	$delivery-truck-width: 512;
	$delivery-truck-height: 512;
	$delivery-truck-offset-x: -2012;
	$delivery-truck-offset-y: -2012;
	$delivery-truck: (
		512,
		512,
		-2012,
		-2012
	);


@mixin svgSprite($code, $width: 100) {
	$ratio: $width/nth($code, 1);
	background-image: url("../../../assets/svg/sprite.png");
	background-image: url("../../../assets/svg/sprite.svg");
	background-repeat: no-repeat;
	background-size: $totalWidth/nth($code, 1)*100+%;
	background-position: nth($code, 3) / ( nth($code, 1) -  $totalWidth ) * 100+% nth($code, 4) / ( nth($code, 2) -  $totalHeight ) * 100+%;
	width: nth($code, 1)*$ratio + px;
	height: nth($code, 2)*$ratio + px;
}

.styleguideSpriteList {
	margin: -10px 0 0 -10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	&_item {
		flex-basis: calc(10% - 10px);
		margin: 10px 0 0 10px;
		border: 1px solid #ddd;
		border-radius: 6px;
		display: block;
		& > a {
			display: block;
			width: 100%;
			height: 100%;
			padding: 10px;
			text-align: center;
			text-decoration: none;
			color: inherit;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				letter-spacing: normal;
			}
		}
		span {
			display: block;
			margin: 5px 0 0;
		}

		
		&-adelivery-truck {
			& > a {
				&:before {
					@include svgSprite($adelivery-truck);
				}
			}
		}
		
		&-coffee {
			& > a {
				&:before {
					@include svgSprite($coffee);
				}
			}
		}
		
		&-coffee-green {
			& > a {
				&:before {
					@include svgSprite($coffee-green);
				}
			}
		}
		
		&-coffee-pink {
			& > a {
				&:before {
					@include svgSprite($coffee-pink);
				}
			}
		}
		
		&-delivery-truck {
			& > a {
				&:before {
					@include svgSprite($delivery-truck);
				}
			}
		}
		
	}
}